/* .myEvents_section{
    height: 100vh;
} */

.wrapper{
    display: flex;
    justify-content: space-between;
}

.myEvents_section{
    padding: 24px 0px;
    min-height: 80vh;
}

.page_title{
    margin-bottom: 32px;
}

.events_wrapper{
 
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.noEvents_text{
    font-size: 24px;
}