.event_item{
    position: relative;
    width: 300px;
    height: 360px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #FFFFFF, 60%,  rgba(0, 106, 255, 0.120));
    cursor: pointer;
    padding-right: 24px;
}

.event_title{
    width: 212px;
    color: rgb(0, 108, 255);
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 36px;
    line-height: 1;
    word-wrap: break-word;
}

.event_type{
    color: rgb(97, 97, 97);
    font-size: 20px;
    margin-bottom: 12px;
}

.date{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.span_wrapper{
    display: flex;
    gap: 4px;
}

.event_descr{
    font-size: 20px;
    word-wrap: break-word;
}

.time_wrapper{
    color: rgb(0, 108, 255);;
}

.edit_icon{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 16px;

}

.delete_btn{
    position: absolute;
    width: 20px;
    height: 20px;

    top: 16px;
    right: 36px; 
}